
.primary_header {
              background: #CDFFFF;
              float: center;
              font-family: courier;
              box-shadow: 10px 10px 10px 1px #444;
              text-shadow: 1px 1px 1px rgba(10, 10, 10, 1);
              position: relative;
              padding: 1px;
              border-style: outset;
              border-color: #999;
              border-width: 2px;
 }

p.aside {

        font-color: #000000;
        font-family: courier;
        letter-spacing: -1px;
        padding: 2px;
}

body {
        background: #d9ffff;
        background: -webkit-linear-gradient(#CDFFFF, #331D20);
        background:    -moz-linear-gradient(#CDFFFF, #331D20);
        background:         linear-gradient(#CDFFFF, #331D20);
}
